{% block admin %}
                   <div style="color:#009999e8" class="left_button"><a href="{{url_for('add_product')}}" class="favorite styled add_cart" >Add Product ice,hot,juice</a></div>
                  <div style="color: #009999e8" class="left_button"><a href="{{url_for('add_specialProduct')}}" class="favorite styled add_cart" >Add special product</a></div>
                  <div style="color: #009999e8" class="left_button"><a href="{{url_for('Editaboutus')}}" class="favorite styled add_cart" >Edit about us</a></div>
                  <div style="color: #009999e8" class="left_button"><a href="{{url_for('show')}}" class="favorite styled add_cart" >show, Edit all products </a></div>
                <div  style="color: #009999e8" class="left_button"><a href="{{url_for('Deleteproduct')}}" class="favorite styled add_cart" >Delete product </a></div>

{% endblock %}