<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WAV COFFEE</title>
    <link rel="stylesheet" href="static/css/logincss.css">
    <link rel="stylesheet" href="static/css/deleteupdate.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wave Cafe HTML Template by Tooplate</title>
    <link rel="stylesheet" href="static/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="static/css/tooplate-wave-cafe.css">
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wave Cafe HTML Template by Tooplate</title>
    <link rel="stylesheet" href="static/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="static/css/tooplate-wave-cafe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% block main %}
    {% endblock %}


  <div class="tm-video-wrapper">
      <i id="tm-video-control-button" class="fas fa-pause"></i>
      <video autoplay muted loop id="tm-video">
          <source src="static/video/wave-cafe-video-bg.mp4" type="video/mp4">
      </video>
  </div>
<script src="static/js/jquery-3.4.1.min.js"></script>
<script>
     btn.on("click", function(e) {
        const video = document.getElementById("tm-video");
        $(this).removeClass();

        if (video.paused) {
          video.play();
          $(this).addClass("fas fa-pause");
        } else {
          video.pause();
          $(this).addClass("fas fa-play");
        }
      });
    $('.visibility-cart').on('click',function(){

  var $btn =  $(this);
  var $cart = $('.cart');
  console.log($btn);

  if ($btn.hasClass('is-open')) {
     $btn.removeClass('is-open');
     $btn.text('O')
     $cart.removeClass('is-open');
     $cart.addClass('is-closed');
     $btn.addClass('is-closed');
  } else {
     $btn.addClass('is-open');
     $btn.text('X')
     $cart.addClass('is-open');
     $cart.removeClass('is-closed');
     $btn.removeClass('is-closed');
  }


});

    // SHOPPING CART PLUS OR MINUS
    $('a.qty-minus').on('click', function(e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest('div').find('input');
        var value = parseInt($input.val());

        if (value > 1) {
            value = value - 1;
        } else {
            value = 0;
        }

    $input.val(value);

    });

    $('a.qty-plus').on('click', function(e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest('div').find('input');
        var value = parseInt($input.val());

        if (value < 100) {
        value = value + 1;
        } else {
            value =100;
        }

        $input.val(value);
    });

// RESTRICT INPUTS TO NUMBERS ONLY WITH A MIN OF 0 AND A MAX 100
$('input').on('blur', function(){

    var input = $(this);
    var value = parseInt($(this).val());

        if (value < 0 || isNaN(value)) {
            input.val(0);
        } else if
            (value > 100) {
            input.val(100);
        }
});

    $('.visibility-cart').on('click',function(){

  var $btn =  $(this);
  var $cart = $('.cart');
  console.log($btn);

  if ($btn.hasClass('is-open')) {
     $btn.removeClass('is-open');
     $btn.text('O')
     $cart.removeClass('is-open');
     $cart.addClass('is-closed');
     $btn.addClass('is-closed');
  } else {
     $btn.addClass('is-open');
     $btn.text('X')
     $cart.addClass('is-open');
     $cart.removeClass('is-closed');
     $btn.removeClass('is-closed');
  }


});

    // SHOPPING CART PLUS OR MINUS
    // $('a.qty-minus').on('click', function(e) {
    //     e.preventDefault();
    //     var $this = $(this);
    //     var $input = $this.closest('div').find('input');
    //     var value = parseInt($input.val());
    //
    //     if (value > 1) {
    //         value = value - 1;
    //     } else {
    //         value = 0;
    //     }
    //
    // $input.val(value);
    //
    // });

    // $('a.qty-plus').on('click', function(e) {
    //     e.preventDefault();
    //     var $this = $(this);
    //     var $input = $this.closest('div').find('input');
    //     var value = parseInt($input.val());
    //
    //     if (value < 100) {
    //     value = value + 1;
    //     } else {
    //         value =100;
    //     }
    //
    //     $input.val(value);
    // });

// RESTRICT INPUTS TO NUMBERS ONLY WITH A MIN OF 0 AND A MAX 100
$('input').on('blur', function(){

    var input = $(this);
    var value = parseInt($(this).val());

        if (value < 0 || isNaN(value)) {
            input.val(0);
        } else if
            (value > 100) {
            input.val(100);
        }
});


</script>
</body>
</html>