
{% extends "BASE.html" %}

{% block main %}
  <div class="bg-img">
      <div class="content">
          <header>Login Form</header>
                    {% if name != null %}
                    <div style="text-align: left; color: #a50909;margin-bottom: 10px;"><small>{{e}}</small></div>
                  {% endif %}
            <form action="" novalidate method="post">
                 <div class="field space">
                    <span class="fa fa-phone"></span>
                        {{form.description()}}

                </div>
                  <div class="validate">
                      {% for error in form.description.errors %}
                            <small>{{error}}</small>
                         {% endfor %}
                </div>
               <div class="field space">
                     <span class="fa fa-lock"></span>
<!--                    {{form.description2.label}}-->
                    {{form.description2()}}

                </div>
                <div class="validate">
                     {% for error in form.description2.errors %}
                    <small>{{error}}</small>
                   {% endfor %}
                </div>

                     <div class="field space">
                     <span class="fa fa-lock"></span>
<!--                    {{form.description2.label}}-->
                    {{form.description3()}}

                </div>
                <div class="validate">
                     {% for error in form.description3.errors %}
                    <small>{{error}}</small>
                   {% endfor %}
                </div>
                <div class="field space">
                     {{form.Sumbmit()}}
                </div>
            </form>
                <div class="links space">
                  <div class="facebook">
                    <i class="fab fa-facebook-f"><span>Facebook</span></i>
                  </div>
                <div class="instagram">
                            <i class="fab fa-instagram"><span>Instagram</span></i>
                          </div>
                </div>
      </div>
  </div>

{% endblock %}



