{% block ice %}
    {% for item in products %}
        <div id="all" class="tm-list-item">
          <img  class ="aa" src={{item.image}} alt="Image" class="tm-list-item-img">
          <div class="tm-black-bg tm-list-item-text">
              <h3 class="aa" class="tm-list-item-name">{{item.name}}</h3>
              <span class="aa" class="tm-list-item-price">${{item.price}}</span></h3>
            <p class="aa" class="tm-list-item-description">{{item.des}}</p>
            <input id="Add" class="favorite styled left_button "  type="button" onclick="Addtocart(this)" value="Add to cart">

          </div>
        </div>
    {% endfor %}

{% endblock %}