{% block juice %}
    {% for item in juice %}
        <div class="tm-list-item">
                  <img id="image" src="{{item.image}}" alt="Image" class="tm-list-item-img">
                  <div class="tm-black-bg tm-list-item-text">
                    <h3  id="name" class="tm-list-item-name">{{item.name}}<span id="price" class="tm-list-item-price">${{item.price}}</span></h3>
                    <p  id="des" class="tm-list-item-description">{{item.des}}</p>
            <input id="add"  class="favorite styled left_button "  type="button" onclick="Addtocart()" value="Add to cart">
                  </div>
                </div>
    {% endfor %}
{% endblock %}